<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">
      <i class="fa fa-check"></i>
  </a>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']" routerLinkActive="router-link-active" >Users</a>
      </li>
    </ul>
  </div>
  

</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
