
<p>{{'common.datetime' | translate:[translate] | async}}</p>
<p>{{'common.error.empty' | translate:[translate] | async}}</p>
<p>{{'user.welcome_message' | translate:[translate, {'name' : 'Sazzad', 'company': 'ICT-Euro Ltd'}] | async}}</p>